.dvr-controller {
  padding-left: 0;
  user-select: none;
}

.dvr-controller {
  outline: none;
  opacity: 0.7;
}

.dvr-controller div:hover {
  opacity: 1;
}

.dvr-controller .timeline-header {
  font-size: 1.15em;
  margin-bottom: 10px;
}

.dvr-controller .timeline-header>div {
  padding: 10px;
}

.dvr-controller .timeline-chunks {
  text-align: center;
}

.dvr-controller .timeline-chunks>div {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-right-width: 0;
}

.dvr-controller .timeline-chunks>div:last-of-type {
  border-right-width: 1px;
}

.dvr-overlay {}

.dvr-overlay>div:first-of-type {
  background-color: #f7f7f7;
}

.dvr-overlay .dvr-tools-overlay {
  padding: 10px;
  user-select: none;
}

.dvr-overlay .dvr-timeline-overlay {
  /*border: 1px solid rgba(0,0,0,0.07);*/
  user-select: none;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-container {
  overflow: hidden;
  margin-bottom: 10px;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline {
  width: 150%;
}

.dvr-overlay .dvr-timeline-overlay .timeline-chunk {
  /*text-align: right;*/
  /*paddi:left: 8px;*/
  display: inline-block;
  background: transparent;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-seekbar-overlay {
  /*border: 1px solid;*/
  margin: 5px 0 0 0;
  position: relative;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-seekbar-overlay .seekbar-frame-snapshot {
  background: #fff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 2px;
  z-index: 99;
  bottom: 25px;
  /*padding: 2px;*/
  overflow: hidden;
  display: none;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-seekbar-overlay .seekbar-frame-snapshot img {
  /*max-height: 80px;*/
  max-width: 250px;
  padding: 1px;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-seekbar-overlay .timeline-seekbar {
  height: 6px;
  background-color: #f7f7f7;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-seekbar-overlay .timeline-seekbar-guide {
  height: 6px;
  background-color: rgba(0, 0, 0, .12);
  position: relative;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-seekbar-overlay .timeline-seekbar-guide .hit {
  background-color: rgba(255, 0, 0, 0.5);
  height: 6px;
  position: absolute;
  display: inline-block;
  pointer-events: none;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-seekbar-overlay .timeline-seekbar-control {
  position: absolute;
  width: 15px;
  height: 15px;
  /* background-color: #e8e8e8; */
  background-color: #3380f8;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  top: -2px;
  left: 0;
  cursor: pointer;
  z-index: 100;
  user-select: none;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-seekbar-overlay .timeline-segment-controls {
  /*display: none;*/
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-seekbar-overlay .timeline-segment-controls>div {
  position: absolute;
  height: 30px;
  /*width: 10px;*/
  width: 4px;
  /*border: 1px solid rgba(0,0,0,0.1);*/
  border: none;
  /*box-shadow: inset 0 0 4px rgba(0,0,0,0.07);*/
  /*background-color: #e9e9e9;*/
  background-color: #e60101;
  border-radius: 50px;
  top: -10px;
  z-index: 9;
  cursor: pointer;
}

.dvr-overlay .dvr-timeline-overlay .dvr-timeline-seekbar-overlay .timeline-segment-controls>div:last-of-type {
  right: 0;
}

.dvr-overlay .dvr-player-overlay {
  /*padding: 10px;*/
  position: relative;
}

.dvr-overlay .dvr-player-overlay .dvr-player {
  min-height: 378px;
  background-color: #000;
}

.dvr-overlay .dvr-player-overlay .dvr-player.fullscreen [data-player] {
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  z-index: 2147483647;
  background: #000;
  text-align: center;
}

.dvr-overlay .dvr-player-overlay .dvr-invalid-hit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  text-align: center;
  padding-top: 20%;
  color: #fff;
}

.dvr-overlay .dvr-player-controls {
  min-height: 35px;
  padding: 0 10px;
  box-sizing: border-box;
  /*border: 1px solid rgba(0,0,0,0.1);*/
}

.dvr-overlay .dvr-player-controls .btn {
  outline: none;
  width: 40px;
  height: 40px;
  color: #3380f8;
  padding: 5px 0;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar {}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .md-button {
  margin: 0;
  text-transform: none;
  box-shadow: none;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .md-button * {
  text-transform: none;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .playback-control {}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .playback-control .control {
  display: inline-block;
  padding: 7px;
  line-height: 1;
  font-size: 1.25em;
  box-sizing: border-box;
  margin-right: 5px;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .playback-control .control:last-of-type {
  margin-right: 0;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .playback-control .control.static {
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .playback-control .control:before {
  vertical-align: middle;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .playback-control .control:not(.static) {
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 15px;
  border-radius: 50px;
  font-size: 1.35em;
  /*opacity: 0.85;*/
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .playback-control .control:hover:not(.static) {
  background-color: #e7e7e7;
  cursor: pointer;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .playback-control .control:active:not(.static) {
  background-color: #1188ef;
  color: #ffffff;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .zoom-control {}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .zoom-control .control {
  display: inline-block;
  padding: 4px 10px;
  line-height: 1;
  font-size: 1.6em;
  /*border: 1px solid rgba(0,0,0,0.07);*/
  text-align: center;
  width: 35px;
  height: 33px;
  cursor: pointer;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .zoom-control .control:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .zoom-control .control:active {
  background-color: #1188ef;
  color: #ffffff;
}

.dvr-overlay .dvr-tools-overlay .dvr-toolbar .zoom-control .control:first-of-type span {
  vertical-align: -webkit-baseline-middle;
}

.dvr-overlay .dvr-tools-overlay .dvr-calendar {}

.dvr-overlay .dvr-tools-overlay .dvr-calendar .dvr-calendar-input {
  position: absolute !important;
  top: none;
  left: none;
  opacity: 0;
  pointer-events: none;
}

.datepicker .btn {
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

.datepicker table tr:first-of-type th:nth-of-type(2) button {
  font-size: 1.1em;
}

.datepicker table tr:first-of-type th:nth-of-type(2) button:hover {
  background-color: transparent;
}

.datepicker table tr:first-of-type th:nth-of-type(2) button strong {
  font-weight: 500;
}

.datepicker table tr:nth-of-type(2) th {
  font-weight: 500;
  padding: 10px 0;
  font-size: 0.95em;
}

.dvr-overlay .datepicker {
  position: static !important;
  float: none;
  box-shadow: none;
  /*border: none;*/
  top: 0;
  left: 0;
}

.dvr-timeline-overlay {}

/*.dvr-timeline-overlay .dvr-timeline {
    padding: 4px 0;
}*/
